@import '../../style/base';

.collection {
  &__header {
    &__banner {
      width: 100vw;
      margin-left: -20px;

      @include grid-media($desktop) {
        width: 100%;
        margin-left: 0px;
      }

      img {
        width: 100vw;
        height: 40vh;
        object-fit: cover;
      }
    }
    h1 {
      text-align: center;
      font-size: 2rem;
    }
  }
  &__products > ul {
    @include grid-container;
    @media screen and (max-width: $small-screen) {
      margin-left: -20px;
      width: 100vw;
    }

    li {
      @include grid-column(1, $mobile-product-grid);
      @include grid-media($desktop) {
        @include grid-column(2);
      }
    }
  }

  &__pagination {
    text-align: center;
  }
}
