@import "../../../style/base";

$border-radius: 0.2rem;
$border-color: #f0f1f4;
$border-width: 0.1rem;
$bg-color-light: lighten($white, 40%);
$body-font-color: #667189;
$font-size-sm: 1.2rem;
$layout-padding-lg: .2rem;
$base-transparency: 0.9;
$inverted-text-color: white;
$padding-sm: 0.1rem;
$padding-md: 0.5rem;
.card-element {
  border-radius: $border-radius;
  box-shadow: 0 1px 2px darken($base-background-color, 10%);
  display: block;
  margin-bottom: 1rem;
  position: relative;
  overflow: hidden;
  text-align: center;

  &--sold-out {
    filter: blur(2px);
  }

  &__sold-out-sticker {
    background: $primary-color;
    color: white;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    position: absolute;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  &__header,
  &__body {
    padding-left: $layout-padding-lg;
  }

  &__body {
    &__price {
      display: inline-block;
      font-size: .9rem;
      padding-bottom: .4rem;

      &--discounted {
        margin-left: 0.5rem;
        color: red;
        font-weight: bold;
      }
    }
  }

  .strikethrough {
    font-size: .8rem;
    text-decoration: line-through;
  }

  .discount-highlight {
    font-weight: 600;
    color: $red;
  }

  &__ribbon {
    position: absolute;
    top: 2rem;
    color: white;
    background: darken(grey, 30);
    border-radius: $border-radius;
    left: -2rem;
    opacity: $base-transparency;
    padding: $padding-sm;
    text-align: center;
    width: 10rem;
    transform: rotate(-45deg);
    padding-left: $padding-md;
    padding-right: $padding-md;

    i {
      color: $red;
      opacity: 1;
    }
  }

  &__image {
    text-align: center;
    img {
      @media screen and (min-width: $medium-screen) {
        height: 15rem;
      }
      object-fit: cover;
      height: 10rem;
      width: 100%;
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
      animation-duration: .4s;
    }
  }

  &__header {
    &__title {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: .8rem;
    }
  }
}
