<template>
  <require from="./filter.css"></require>
  <div class="filter-container">
    <section class="filter-container__filters">
      <label class="filter-container__filters__origin">
        Country
        <select value.bind="products.params.filter['source_id:eq']" change.delegate="resetPageAndFetch()">
          <option model.bind="null">Choose</option>
          <option repeat.for="country of countries" model.bind="country.id">${country.name}</option>
        </select>
      </label>
      <label class="filter-container__filters__category">
        Category
        <select value.bind="products.params.filter['category_id:eq']" change.delegate="resetPageAndFetch()">
          <option model.bind="null">Choose</option>
          <option repeat.for="category of categories" model.bind="category.id">${category.name}</option>
        </select>
      </label>
      <label class="filter-container__filters__order">
        Order By
        <select value.bind="products.params.sort" change.delegate="resetPageAndFetch()">
          <option value="-id">Latest</option>
          <option value="-price">Price</option>
        </select>
      </label>
    </section>
    <section class="filter-result-container">
      <div class="filter-result-container__empty" if.bind="products.data && !products.total">
        <i class="icon ion-sad"></i>
        <div class="filter-result-container__empty__header">
          Could not find the product
        </div>
        <div>
          But fret not! You can always place a <a href="custom-order">custom order</a> for the product.
        </div>
        <a class="button" href="custom-order">Place custom order</a>
      </div>
      <ul class="filter-result-wrapper">
        <li class="filter-result" repeat.for="product of products.data">
          <product-card class="product-card" product.bind="product"></product-card>
        </li>
      </ul>
      <div if.bind="products.total" class="filter-result-container__pagination">
        <pagination total.bind="products.total" path="filter" params.bind="params" size.bind="products.params.page.size"></pagination>
      </div>
    </section>
  </div>
</template>
