@import '../../style/base';

.filter-container {
  @include grid-container;
  margin-top: 1rem;

  &__filters {
    display: flex;
    label {
      min-width: 7rem;
    }
    @include grid-media($tablet) {
      display: block;
      @include grid-column(2);
    }
  }

}

.filter-search-container {
  margin-top: 0.5rem;
  margin-left: 20px;
}

.filter-result-container {
  @include grid-media($tablet) {
    @include grid-column(10);
  }
  margin-top: 1.4rem;

  &__empty {
    @media screen and (min-width: $medium-screen) {
      padding: 3 * $base-spacing;
    }
    background: $light-gray;
    text-align: center;
    padding: 1 * $base-spacing;

    .ion-sad {
      font-size: 2rem;
    }

    .button {
      margin-top: 1rem;
    }

    &__header {
    }
  }

  &__pagination {
    text-align: center;
  }
}

  $most-popular-grid-phone: (
    columns: 2,
    gutter: 10px
  );

.filter-result-wrapper {
  @include grid-container;
  @media screen and (max-width: $small-screen) {
    margin-left: -20px;
    width: 100vw;
  }
}

.filter-result {
  @include grid-column(1, $most-popular-grid-phone);
  @include grid-media($tablet) {
    @include grid-column(3);
  }
}
