@import 'base';

.shop-orders-filter {
  display: flex;
  justify-content: space-between;
  &__option {
    flex-grow: 1;
    margin-right: 1rem;
  }
}

.shop-orders-list {
  &__row--red {
    background: lighten($red, 20);
  }
  &__unassigned {
    a {
      color: brown;
    }
    font-weight: 800;
  }
}
