@import '../../../../style/base';

.edit-product {
  &__description {
    &__editor {
      textarea {
        min-height: 20rem;
      }
    }
  }

  &__remove-collection {
    margin-left: .5rem;
    &:hover {
      cursor: pointer;
    }
  }

  &__gallery {
    display: flex;
    margin-top: 2rem;
    label {
    }
    &__image {
      margin-left: .5rem;
      img {
        max-height: 20rem;
      }
      &__control {
        button {
          display: block;
        }
      }
    }
  }
}

