<template>
  <require from="./checkout.css"></require>
  <require from="../../resources/fragments/bank-payment-instructions.html"></require>
  <require from="../../resources/fragments/order-details.html"></require>
  <div class="checkout ${state.inflight ? 'blur': ''}">
    <order-details product.bind="product" request.bind="request"></order-details>
    <hr>
    <section>
      <div class="checkout__total-price">
        <label>Total Cost: SGD ${request.total_price | toCurrency}</label>
        <div class="fade-in" if.bind="userStore.user.referral_credit">$${userStore.user.referral_credit} referral credit applied</div>
        <form if.bind="!(userStore.user.referred_by || request.referred_by)" class="checkout__referral field has-addons" submit.delegate="applyReferralCode(tempReferralCode)">
          <div class="control">
            <input class="input" type="text" value.bind="tempReferralCode" placeholder="Referral code">
          </div>
          <div class="control">
            <button type="submit" disabled.bind="!tempReferralCode" class="button is-info ${state.applyReferralCode ? 'is-loading' : ''}">
              Apply
            </button>
          </div>
        </form>
        <div>
          <span if.bind="state.error.noSuchReferralCode" style="color:red">
            No such referral code exists
          </span>
        </div>
        <div if.bind="request.referred_by" class="fade-in">Referral code applied ($5 off)</div>
        <sub if.bind="product.preorder">If paid using Paypal, we only charge when the item is obtained.</sub>
      </div>

    </section>
    <section class="checkout__shipping-info">
      <hr>
      <div>
        <label>Collection Method:</label>
        <select change.delegate="toggleAddress()" value.bind="request.collection_method">
          <option value="pickup">Pickup</option>
          <option value="courier">Courier (Free)</option>
        </select>
      </div>
      <div if.bind="request.collection_method === 'pickup'">
        <label></label>
        <p>${request.shipping_address.line_1}</p>
        <p>${request.shipping_address.line_2}</p>
        <p>${request.shipping_address.zip}</p>
        <p>${request.shipping_address.city}</p>
      </div>
      <div if.bind="request.collection_method === 'post' || request.collection_method === 'courier'" class="shipping-address">
        <label>Address</label>
        Line 1 * <span if.bind="state.error.addressRequired" style="color:red">Address is required</span>
        <input value.bind="request.shipping_address.line_1" type="text" />
        Line 2
        <input value.bind="request.shipping_address.line_2" type="text" />
        City
        <input value.bind="request.shipping_address.city" type="text" />
        Zip * <span if.bind="state.error.zipRequired" style="color:red">Zip is required</span>
        <input value.bind="request.shipping_address.zip" type="text" />
        Country
        <select value.bind="request.shipping_address.country" change.delegate="getPrice()">
          <option repeat.for="country of countryStore.countries" model.bind="country.name">${country.name}</option>
        </select>
      </div>
      <div if.bind="!userStore.user.phone">
        Phone * <span if.bind="state.error.phoneRequired" style="color:red">Phone is required</span>
        <input value.bind="tempUser.phone" type="text" required/>
      </div>
      <div if.bind="!userStore.user.email">
        Email * <span if.bind="state.error.emailRequired" style="color:red">Email is required</span>
        <input value.bind="tempUser.email" type="email" required/>
      </div>
    </section>
    <hr>
    <section class="checkout__paypal">
      <button class="paypal-button" click.delegate="payWithPaypal()">
        <img class="paypal-logo" src="/images/paypal.png" alt=""> ${product.preorder ? 'Book Now' : 'Buy Now'} with PayPal
      </button>
      <span class="paypal-button-callout">
        Secure PayPal Checkout
      </span>
    </section>
    <section class="checkout__bank-payment" ref="bankpayment">
      <div class="checkout__bank-payment__button" click.trigger="togglePaymentView('bankpayment')" ref="bankpayment">
        <i show.bind="currentPaymentMethod !== 'bankpayment'" class="icon ion-arrow-right-b"></i>
        <i show.bind="currentPaymentMethod === 'bankpayment'" class="icon ion-arrow-down-b"></i>
        <i class="icon ion-cash"></i>
        Bank Payment
      </div>
      <div class="slide-down ${currentPaymentMethod === 'bankpayment' ? 'slide-down--active': ''}">
        <bank-payment-instructions amount.bind="request.total_price"></bank-payment-instructions>
        <div class="checkout__bank-payment__ref"><span if.bind="state.error.proofRequired" style="color:red">Proof is required</span>
          <input type="file" files.bind="proof | toArray">
          <button disabled.bind="state.inflight" click.delegate="saveProof()">Submit Proof</button>
        </div>
      </div>
    </section>
  </div>
  <loading if.bind="state.inflight"></loading>
</template>
