<template>
  <require from="./checkout.css"></require>
  <require from="../../resources/fragments/bank-payment-instructions.html"></require>
  <require from="../../resources/fragments/order-details.html"></require>
  <div class="checkout-container ${state.inflight ? 'blur': ''}">
    <order-details product.bind="product" request.bind="request"></order-details>
    <section>
      <div class="checkout-container__order-details__count" if.bind="request.count">
        <label>
          Quantity:
          <select value.bind="request.count" change.delegate="getPrice()">
            <option repeat.for="i of 9" model.bind="i+1">${i+1}</option>
          </select>
        </label>
      </div>
    </section>
    <section class="checkout-container__shipping-info">
      <div class="checkout-container__order-info__total-price">
        <label>Total Cost: SGD ${request.total_price | toCurrency}</label>
        <sub if.bind="product.preorder">If paid using Paypal, we only charge when the item is obtained.</sub>
      </div>
      <div>
        <label>Collection Method</label>
        <select change.delegate="toggleAddress()" value.bind="request.collection_method">
          <option value="pickup">Pickup</option>
          <option value="courier">Courier (Free)</option>
        </select>
      </div>
      <div if.bind="request.collection_method === 'pickup'">
        <label></label>
        <p>${request.shipping_address.line_1}</p>
        <p>${request.shipping_address.line_2}</p>
        <p>${request.shipping_address.zip}</p>
        <p>${request.shipping_address.city}</p>
      </div>
      <div if.bind="request.collection_method === 'post' || request.collection_method === 'courier'" class="shipping-address">
        <label>Address</label>
        Line 1 * <span if.bind="state.error.addressRequired" style="color:red">Address is required</span>
        <input value.bind="request.shipping_address.line_1" type="text" />
        Line 2
        <input value.bind="request.shipping_address.line_2" type="text" />
        City
        <input value.bind="request.shipping_address.city" type="text" />
        Zip * <span if.bind="state.error.zipRequired" style="color:red">Zip is required</span>
        <input value.bind="request.shipping_address.zip" type="text" />
        Country
        <select value.bind="request.shipping_address.country" change.delegate="getPrice()">
          <option model.bind="null">Choose</option>
          <option repeat.for="country of countries" model.bind="country.name">${country.name}</option>
        </select>
      </div>
      <div if.bind="!userStore.user.phone">
        Phone * <span if.bind="state.error.phoneRequired" style="color:red">Phone is required</span>
        <input value.bind="tempUser.phone" type="text" required/>
      </div>
      <div if.bind="!userStore.user.email">
        Email * <span if.bind="state.error.emailRequired" style="color:red">Email is required</span>
        <input value.bind="tempUser.email" type="email" required/>
      </div>
    </section>
    <hr>
    <section class="checkout-container__paypal">
      <button class="paypal-button" click.delegate="payWithPaypal()">
       <img class="paypal-logo" src="/images/paypal.png" alt=""> ${product.preorder ? 'Book Now' : 'Buy Now'} with PayPal
      </button>
      <span class="paypal-button-callout">
        Secure PayPal Checkout
      </span>
    </section>
    <section class="checkout-container__bank-payment" ref="bankpayment">
      <div class="checkout-container__bank-payment__button" click.trigger="togglePaymentView('bankpayment')" ref="bankpayment">
        <i show.bind="currentPaymentMethod !== 'bankpayment'" class="icon ion-arrow-right-b"></i>
        <i show.bind="currentPaymentMethod === 'bankpayment'" class="icon ion-arrow-down-b"></i>
        <i class="icon ion-cash"></i>
        Bank Payment
      </div>
      <div class="slide-down ${currentPaymentMethod === 'bankpayment' ? 'slide-down--active': ''}">
        <bank-payment-instructions amount.bind="request.total_price"></bank-payment-instructions>
        <div class="checkout-container__bank-payment__ref"><span if.bind="state.error.proofRequired" style="color:red">Proof is required</span>
          <input type="file" files.bind="proof | toArray">
          <button disabled.bind="state.inflight" click.delegate="saveProof()">Submit Proof</button>
        </div>
      </div>
    </section>
  </div>
  <loading if.bind="state.inflight"></loading>
</template>
