@import '../../style/base';

.product-info {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background: rgba(0,0,0,0.4);
  color: white;
  padding: .5rem;

  @media screen and (min-width: $medium-screen) {
    position: relative;
    background: white;
    color: black;
    text-align: center;
  }

  &__source {
    font-size: 1rem;
  }

  &__ordercount {
    float: right;
  }

  &__price {
    font-size: 1.2rem;
  }

  &__url {
    border: 1px solid black;
    display: inline-block;
    padding: .5rem;
  }

  &__discounted {
    color: red;
    margin-bottom: 1rem;
    margin-top: 0px;
    text-decoration: line-through;
  }

  &__cta {
    label {
      align-items: baseline;
      display: flex;
      float: right;

      input {
        margin-left: 0.5rem;
        max-width: 5rem;
      }
    }

    &__soldout {
      border: 1px solid black;
      border-radius: .5rem;
      display: inline-block;
      padding: .5rem;
    }
  }
}

.product-selection {
  &__validation-error {
    color: red;
  }
}

.product-gallery {
  text-align: center;
}

.product-actions-container {
  display: flex;
  justify-content:space-between;
  .product-variations {
    order: 2;
  }
  @media screen and (min-width: $medium-screen) {
    display: block;
    .product-variations {
      margin-bottom: .5rem;
    }
  }

}

.product-size {
  select {
    background: $primary-color url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23667189' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75rem center / .8rem 1rem;
    border-radius: .2rem;
    border: 0.1rem solid $primary-color;
    color: white;
    margin: auto;
    width: 10rem;
  }
}

.product-description {
  margin-bottom: 1rem;

  iframe {
    @include grid-media($tablet) {
      width: 560px;
      height: 315px;
    }
    height: 240px;
    width: 100%;
  }
}
