@import '../../style/base';

.product-info, .product-variations, .product-details{
  background: darken(white, 2%);
  border-radius: 0.2rem;
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
  margin: 0.5rem;
  padding: 1rem;
}

.product-info {

  &__header {
    font-size: 1.5rem;
  }

  &__source {
    font-size: 1rem;
  }

  &__ordercount {
    float: right;
  }

  &__price {
    font-size: 1.2rem;
  }

  &__url {
    border: 1px solid black;
    display: inline-block;
    padding: .5rem;
  }

  &__discounted {
    color: red;
    margin-bottom: 1rem;
    margin-top: 0px;
    text-decoration: line-through;
  }

  &__cta {
    margin-top: 1rem;

    label {
      align-items: baseline;
      display: flex;
      float: right;

      input {
        margin-left: 0.5rem;
        max-width: 5rem;
      }
    }

    &__soldout {
      border: 1px solid black;
      border-radius: .5rem;
      display: inline-block;
      padding: .5rem;
    }
  }
}

.product-selection {
  &__validation-error {
    color: red;
  }
}

.product-gallery {
  text-align: center;
}

.product-description {
  margin-bottom: 1rem;

  iframe {
    @include grid-media($tablet) {
      width: 560px;
      height: 315px;
    }
    height: 240px;
    width: 100%;
  }
}
