@import '../../../style/base';

.bank-payment {

  &__account {
    text-align: center;

    table {
      tr {
        td {
          padding: 0em;
          font-weight: 800;
        }
      }
    }
  }
}
