<template>
  <require from="./custom-checkout.css"></require>
  <require from="../../../resources/fragments/bank-payment-instructions.html"></require>
  <require from="../../../resources/fragments/order-details.html"></require>
  <div class="custom-checkout">
    <div class="cc-container">
      <order-details product.bind="request.product_details" request.bind="request"></order-details>
      <hr>
      <section>
        <label>
          Total Payable: ${request.total_price | toCurrency}
        </label>
      </section>
      <hr>
      <div>
        <label for="">Delivery</label>
        <select value.bind="request.collection_method & validate">
          <option value="courier">Courier (Free)</option>
          <option value="pickup">Pickup</option>
        </select>
      </div>
      <section>
        <div if.bind="request.collection_method === 'courier'" class="shipping-address">
          <label>Address</label>
          Line 1
          <input change.delegate="saveUserInfo('address', userStore.user.address)" value.bind="userStore.user.address.line_1 & validate" type="text" />
          Line 2
          <input change.delegate="saveUserInfo('address', userStore.user.address)" value.bind="userStore.user.address.line_2 & validate" type="text" />
          City
          <input change.delegate="saveUserInfo('address', userStore.user.address)" value.bind="userStore.user.address.city & validate" type="text" />
          Zip
          <input change.delegate="saveUserInfo('address', userStore.user.address)" value.bind="userStore.user.address.zip & validate" type="text" />
        </div>
        <div>
          <label>Email
            <input change.delegate="saveUserInfo('email', userStore.user.email)" value.bind="userStore.user.email & validate" type="text" />
        </div>
        <div>
          <label>Phone
            <input change.delegate="saveUserInfo('phone', userStore.user.phone)" value.bind="userStore.user.phone & validate" type="text" />
        </div>
      </section>
      <section class="cc__card-payment">
        <div class="cc__card-payment__button" click.trigger="togglePaymentView('card-payment')">
          <i show.bind="currentPaymentMethod !== 'card-payment'" class="icon ion-arrow-right-b"></i>
          <i show.bind="currentPaymentMethod === 'card-payment'" class="icon ion-arrow-down-b"></i>
          <i class="icon ion-card"></i>
          Card Payment
        </div>
        <div show.bind="currentPaymentMethod === 'card-payment'" class="cc__card-payment__content">
          <div if.bind="cards.length && !state.addcard">
            <label>
              Pay using:
              <select value.bind="selectedCard">
                <option repeat.for="card of cards" model.bind="card.id">${card.brand} ending with ${card.last4}</option>
              </select>
            </label>
            <button click.delegate="charge()">Pay $${request.total_price | toCurrency}</button>
            <button if.bind="!state.addcard" click.delegate="state.addcard = true">Add New Card</button>
          </div>
          <div class="cc__card-payment__content__add" if.bind="state.addcard || !cards.length">
            <payment-form save.call="charge(token)" button-text="Pay"></payment-form>
            <a href="#" if.bind="cards.length" click.delegate="state.addcard = false">Cancel</a>
          </div>
        </div>
      </section>
      <section class="cc__bank-payment">
        <div class="cc__bank-payment__button" click.trigger="togglePaymentView('bank-payment')">
          <i show.bind="currentPaymentMethod !== 'bank-payment'" class="icon ion-arrow-right-b"></i>
          <i show.bind="currentPaymentMethod === 'bank-payment'" class="icon ion-arrow-down-b"></i>
          <i class="icon ion-cash"></i>
          Bank Payment
        </div>
          <div class="checkout-container__bank-payment__content" show.bind="currentPaymentMethod === 'bank-payment'">
            <bank-payment-instructions request.bind="request"></bank-payment-instructions>
            <div class="checkout-container__bank-payment__ref"><span if.bind="state.error.proofRequired" style="color:red">Proof is required</span>
              <input type="file" files.bind="proof | toArray">
              <button click.delegate="saveProof()">Submit Proof</button>
            </div>
          </div>
      </section>
    </div>
    <div if.bind="state.inflight" class="cc__loading">
      Processing. Please do not navigate away from this page.
      <div class="sk-wandering-cubes">
        <div class="sk-cube sk-cube1"></div>
        <div class="sk-cube sk-cube2"></div>
      </div>
    </div>
  </div>
</template>
