@import 'base';

.user-request-container {
  @include grid-column(12);
  @include grid-media($desktop) {
    @include grid-shift(3);
    @include grid-column(6);
  }
}

.user-request-prompt {
  padding: 1rem;
  margin: 1rem;
  background-color: lighten($primary-color, 40%);
}

.request-product-info {
  margin-top: 1rem;

  &__progress {
    width: 100%;
    font-size: 0.7rem;
  }

  &__image {
    a {
      img {
        width: 20rem;
        height: 20rem;
        border-radius: 1rem;
        object-fit: cover;
      }
    }
  }

  &__title {
    a {
      font-size: 1.3rem;
    }
  }
}

.secondpayment-paypal-button {
  width: 8rem;
  margin: auto;
  margin-bottom: 1rem;
}

.cc-approval {
  margin-top: 1rem;
  text-align: center;
}
