<template>
  <require from="./request.css"></require>
  <require from="../../../resources/fragments/order-details.html"></require>

  <section class="request-product-info">
    <order-details product.bind="request.data.product_details || request.data.product" request.bind="request.data"></order-details>
    <div class="request-product-info__progress">
      <ul class="step">
        <li class="step-item ${(request.data.status === 'approval' || request.data.status === 'confirmed' || request.data.status === 'pending' || request.data.status === 'verify') ? 'active': ''}">
          <a class="tooltip" data-tooltip="Step 1">${currentStatus(request.data.status)}</a>
        </li>
        <li class="step-item ${request.data.status === 'processing' ? 'active' : '' }">
          <a class="tooltip" data-tooltip="Step 2">Processing</a>
        </li>
        <li class="step-item ${request.data.status === 'shipping' ? 'active' : '' }">
          <a class="tooltip" data-tooltip="Step 3">Shipping</a>
        </li>
        <li class="step-item ${(request.data.status === 'ready' || request.data.status === 'delivering') ? 'active' : '' }">
          <a class="tooltip" data-tooltip="Step 4">${request.data.collection_method === 'pickup' ? 'Ready for Pickup': 'Delivery'}</a>
        </li>
      </ul>
    </div>
  </section>
  <section class="request-info">
    <div class="request-info__status">
      <label>Status</label>
      ${request.data.status}
    </div>
    <div class="request-info__quantity">
      <label>Quantity</label>
      ${request.data.count}
    </div>
    <div if.bind="request.data.collection_method" class="request-info__collection">
      <label>Collection Method</label>
      ${request.data.collection_method}
    </div>
    <div if.bind="request.data.shipping_address" class="request-info__shipping_address">
      <label if.bind="request.data.collection_method === 'pickup'">Pickup Address</label>
      <label if.bind="request.data.collection_method === 'courier'">Delivery Address</label>
      <ul>
        <li>
          ${request.data.shipping_address.line_1}
        </li>
        <li>
          ${request.data.shipping_address.line_2}
        </li>
        <li>
          ${request.data.shipping_address.city}
        </li>
        <li>
          ${request.data.shipping_address.zip}
        </li>
      </ul>
    </div>
    <div class="request-info__price">
      <label>Price</label>
      SGD ${request.data.total_price | toCurrency}
    </div>
    <div class="request-info__orderdate">
      <label>Date of Purchase:</label>
      ${request.data.created_at | toDate:'date'}
    </div>
  </section>
  <section class="cc-approval" if.bind="request.data.product_details && request.data.status === 'approval'">
    <a class="button" route-href="route: customCheckout; params.bind: {request_id: request.data.id}">Approve and Pay</a>
    <button class="button--red" click.delegate="reject()">Decline</button>
  </section>
</template>
