@import '../../../style/base';

.request-product-info {
  margin-top: 1rem;

  &__progress {
    width: 100%;
    font-size: 0.7rem;
  }

  &__image {
    a {
      img {
        width: 20rem;
        height: 20rem;
        border-radius: 1rem;
        object-fit: cover;
      }
    }
  }

  &__title {
    a {
      font-size: 1.3rem;
    }
  }
}
