@import '../../../style/base';

.request-product-info {
  margin-top: 1rem;

  &__progress {
    width: 100%;
    font-size: 0.7rem;
  }

  &__image {
    a {
      img {
        width: 20rem;
        height: 20rem;
        border-radius: 1rem;
        object-fit: cover;
      }
    }
  }

  &__title {
    a {
      font-size: 1.3rem;
    }
  }
}

.request-info {
  @include grid-container;
  & > div {
    @include grid-column(4);
    margin-bottom: 1rem;
  }
  // @media screen and (min-width: $medium-screen) {
  //   // display: flex;
  //   justify-content: space-between;
  // }
}

.cc-approval {
  margin-top: 1rem;
  text-align: center;
}
