<template>
  <require from="./request.css"></require>
  <require from="../../../resources/fragments/order-details.html"></require>

  <div class="user-request-container">
  <section class="request-product-info">
    <order-details product.bind="request.data.product_details || request.data.product" request.bind="request.data"></order-details>
    <div class="request-product-info__progress">
      <ul class="step">
        <li class="step-item ${(request.data.status === 'approval' || request.data.status === 'confirmed' || request.data.status === 'pending' || request.data.status === 'verify') ? 'active': ''}">
          <a class="tooltip" data-tooltip="Step 1">${currentStatus(request.data.status) || 'Confirmed'}</a>
        </li>
        <li class="step-item ${request.data.status === 'processing' ? 'active' : '' }">
          <a class="tooltip" data-tooltip="Step 2">Processing</a>
        </li>
        <li class="step-item ${request.data.status === 'shipping' ? 'active' : '' }">
          <a class="tooltip" data-tooltip="Step 3">Shipping</a>
        </li>
        <li class="step-item ${(['ready', 'delivering', 'pending_payment', 'verify_pending_payment', 'ready_for_delivery'].includes(request.data.status)) ? 'active' : '' }">
          <a class="tooltip" data-tooltip="Step 4">${request.data.collection_method === 'pickup' ? 'Ready for Pickup': 'Delivery'}</a>
        </li>
      </ul>
    </div>
  </section>
  <section if.bind="request.data.status === 'pending_payment' && request.data.preorder && !(request.data.second_installment || request.data.second_installment_proof)">
    <div if.bind="!(state.inflight || state.showSuccess || state.showBankPaymentSuccess)" class="user-request-prompt">
      Your product has reached our warehouse. Please complete purchase of your item so that we can begin shipping the item.
    </div>
    <div if.bind="state.inflight" class="user-request-prompt">
      Submitting data...
    </div>
    <div if.bind="state.showSuccess" class="user-request-prompt">
      Thank you for confirming your purchase. We will ship your items immediately.
    </div>
    <div if.bind="state.showBankPaymentSuccess" class="user-request-prompt">
      Thank you for confirming your purchase. We will validate reciept of the bank transfer and then will ship the item immediately.
    </div>
    <bank-payment show.bind="!(state.inflight || state.showSuccess || state.showBankPaymentSuccess)" class="bank-payment-element" amount.bind="request.data.total_price" on-success.call="updateOrderWithBankPayment(proofUrls)"></bank-payment>
  </section>
  <section>
    <table class="request-info">
      <tr>
        <td><label>Status</label></td>
        <td>${request.data.status}</td>
      </tr>
      <tr if.bind="request.data.batch.tracking_code">
        <td><label>International Shipping Tracker</label></td>
        <td><a href.bind="'https://novelship.aftership.com/' + request.data.batch.tracking_code" target="_blank">https://novelship.aftership.com/${request.data.batch.tracking_code}</a></td>
      </tr>
      <tr if.bind="request.data.tracking_code">
        <td><label>Local Shipping Tracker</label></td>
        <td><a href.bind="'https://www.easyship.com/' + request.data.tracking_code" target="_blank">https://www.easyship.com/${request.data.tracking_code}</a>${request.data.status}</td>
      </tr>
      <tr if.bind="request.data.count > 1">
        <td><label>Quantity</label></td>
        <td>${request.data.count}</td>
      </tr>
      <tr>
        <td>
          <label if.bind="request.data.collection_method === 'pickup'">Pickup Address</label>
          <label if.bind="request.data.collection_method === 'courier'">Delivery Address</label>
        </td>
        <td>
          <ul>
            <li>
              ${request.data.shipping_address.line_1}
            </li>
            <li>
              ${request.data.shipping_address.line_2}
            </li>
            <li>
              ${request.data.shipping_address.city}
            </li>
            <li>
              ${request.data.shipping_address.zip}
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>
          <label>Price</label>
        </td>
        <td>
          SGD ${request.data.total_price | toCurrency}
        </td>
      </tr>
      <tr>
        <td>
          <label>Date of Purchase</label>
        </td>
        <td>
          ${request.data.created_at | toDate:'date'}
        </td>
      </tr>
    </table>
  </section>
  <section class="cc-approval" if.bind="request.data.product_details && request.data.status === 'approval'">
    <a class="button" route-href="route: customCheckout; params.bind: {request_id: request.data.id}">Approve and Pay</a>
    <button class="button--red" click.delegate="reject()">Decline</button>
  </section>
  </div>
</template>
