@import "../../../style/base";

.carousel-element {
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;

  &__image-container {
    height: auto;
    margin: auto;
    &__image {
      @media screen and (min-width: $medium-screen) {
        height: 70vh;
      }
      height: 55vh;
      object-fit: contain;
    }
  }

  &__controls {
    @media screen and (max-width: $medium-screen) {
      display: none;
    }

    .left {
      top: 30%;
      margin-left: 14rem;
    }
    .right {
      top: 30%;
      margin-right: 14rem;
    }
  }

  &__navigation {
    margin-top: 0.5em;
    position: absolute;
    bottom: 1em;
  }

  &__nav {
    display: flex;
  }

  &__nav-dot {
    height: .5rem;
    width: .5rem;
    border-radius: 50%;
    background: $primary-color;
    margin-left: 2px;

    &--active {
      background: $secondary-color;
    }
  }


  &__preview {
    display: inline-block;
    white-space: nowrap;
    overflow-x: auto;
    img {
      height: 10vh;
    }

  }
}

