.breadcrumb {
  padding: 1.2rem;

  .breadcrumb-item {
    &:last-child {
      color: $dark-gray;
    }
    &:not(:first-child) {
      &::before {
        color: lighten($dark-gray, 30%) ;
        content: "/";
        padding: 0 .4rem;
      }
    }
  }
}
