@import "../../../style/base";
$background-color: #ffdd57;

.navbar {
  &-end-mobile {
    display: flex;
    margin-left: auto;
  }

  &-item {
    &:hover {
      background: $background-color;
      cursor: pointer;
    }
  }
  &-search-desktop {
    form {
      input {
        border-radius: 1rem;
      }
    }

    &:hover {
      background: $background-color;
    }
  }
}
