@import "../../../style/base";
$background-color: #ffdd57;

.navbar {
  &-end-mobile {
    display: flex;
    margin-left: auto;
  }

  &__customorder {
    background: $red;
    a {
      color: white;
    }
  }

  &-item {
    &:hover {
      background: $primary-color;
      cursor: pointer;

      a {
        color: white;
      }
    }
  }
  &-search-desktop {
    form {
      input {
        border-radius: 1rem;
      }
    }

    &:hover {
      background: $background-color;
    }
  }
}
