<template>
  <require from="./footer.css"></require>
  <div class="footer">
    <hr>
    <div class="footer__content">
      <div>
        <a href="auth/signup">Signup</a>
      </div>
      <div>
        <a href="custom-order">Make a Custom Purchase</a>
      </div>
      <div>
        <a href="info/refunds">Refund & Return policy</a>
      </div>
      <div>
        <a href="info/contact">Contact Us</a>
      </div>
      <div>
        <a href="info/about">About Us</a>
      </div>
    </div>
    <div class="footer__copyright">
     <img class="footer__copylogo" src="images/monogram_new.png"> &copy; novelship
    </div>
  </div>
</template>
