@import 'base';

.order-details {
  @media screen and (min-width: $medium-screen) {
    margin-top: 1rem;
    align-items: center;
    display: flex;
  }

  &__title {
    font-size: 1.2rem;
  }

  &__image {
    @media screen and (max-width: $small-screen) {
      display: flex;
      justify-content: center;
    }
    margin-right: 1rem;
    img {
      max-width: 100%;
      min-width: 8rem;
      height: 12rem;
      object-fit: cover;
    }
  }

  &__info {

  }
}
