<template>
  <require from="./dashboard.css"></require>
  <section class="user-info">
    <div class="user-info__image" if.bind="userStore.user">
      <figure class="avatar avatar-xl">
        <img src.bind="userStore.user.avatar || ('https://api.adorable.io/avatars/285/' + userStore.user.email)" alt.bind="userStore.user.name"/>
      </figure>
    </div>
    <div class="user-info__details">
      <div class="user-info__details__name">
        ${userStore.user.name || userStore.user.email}
      </div>
      <div class="user-info__details__country">
        ${userStore.user.country.name}
      </div>
      <div if.bind="user.phone" class="user-info__details__phone">
        <i class="icon ion-ios-telephone"></i>
        ${userStore.user.phone}
      </div>
      <div class="user-info__details__edit">
        <a route-href="route: profile">Edit Profile</a>
      </div>
      <a class="user-info__details__logout" href="#" click.delegate="auth.logout()">Logout</a>
    </div>
  </section>

  <section if.bind="shops.data && shops.data.length" class="dashboard-shops">
    <h1>Shops</h1>
    <ul>
      <li repeat.for="shop of shops.data">
        <a href.bind="'user/shops/' + shop.id" >${shop.name}</a>
      </li>
    </ul>
  </section>

  <section if.bind="requests.data" class="dashboard-orders-container">
    <h1>Orders</h1>
    <ul class="dashboard-orders">
      <li class="dashboard-orders__row" repeat.for="request of requests.data">
        <figure class="dashboard-orders__row__imagecontainer">
          <img class="dashboard-orders__row__imagecontainer__image" src.bind="request.product.gallery[0] || request.product_details && request.product_details.picture || 'images/default_product.jpg'" alt.bind="request.product.name"/>
        </figure>
        <div class="dashboard-orders-details">
          <a class="dashboard-orders-details__title" href.bind="'user/requests/' + request.id" >${request.product.name || request.product_details.name || 'Custom Product'}</a>
          <div class="dashboard-orders-details__delivery" if.bind="request.delivery_date">Delivery: ${request.delivery_date | toDate: 'date'}</div>
          <div class="dashboard-orders-details__status">
            <div class="${request.status === 'approval'? 'animated infinite tada': ''}">${request.status}</div>
          </div>
          <div if.bind="request.color || request.size || request.edition">
            <span class="chip" if.bind="request.color">${request.color.name}</span>
            <span class="chip" if.bind="request.size">${request.size.name}</span>
            <span if.bind="request.edition">${request.edition.name}</span>
          </div>
          <div>Updated ${request.updated_at | toDate:'human'}</div>
        </div>
      </li>
    </ul>
  </section>
</template>
