<template>
  <require from="./home.css"></require>

  <div class="home-page">
    <section class="home-page__hero">
      <hero-carousel gallery.bind="announcements.data"></hero-carousel>
    </section>

    <section class="home-page__brands-mobile">
      <a href="brands">Shop by Brands</a>
    </section>

    <section class="home-page__brands">
      <span class="home-page__section-header">
        Shop By Brands:
      </span>
      <div class="home-page__brands__item" repeat.for="brand of brands.data">
        <a class="content" href.bind="'brands/' + brand.id">${brand.name}</a>
      </div>
      <div class="home-page__brands__all">
        <a href="brands">Show All</a>
      </div>
    </section>


    <section class="home-page__collections">
      <h2>Featured Collections</h2>
      <div class="home-page__collections__selected">
        <a href.bind="'collections/' + selected.collection.id">
          <img class="home-page__collections__selected__image" src.bind="selected.collection.picture" alt=""/>
        </a>
        <div class="home-page__collections__selected__body">
          <a href.bind="'collections/' + selected.collection.id" class="home-page__collections__selected__body__title">
            ${selected.collection.name}
          </a>
          <div class="home-page__collections__selected__body__creator">
            by ${selected.collection.creator.name}
          </div>
          <div class="home-page__collections__selected__body__description">
            ${selected.collection.description}
          </div>
        </div>
      </div>
      <div class="home-page__collections__preview">
        <ul class="slider">
          <li click.delegate="selected.collection = collection" class="slide ${collection.id === selected.collection.id ? 'slide--active': ''}" repeat.for="collection of collections.data">
            <img src.bind="collection.picture" alt=""/>
          </li>
        </ul>
      </div>
    </section>

    <section class="home-page__most-popular">
      <h3>Most Popular</h3>
      <div class="home-page__most-popular__cards">
        <div class="home-page__most-popular__cards__card" repeat.for="product of popular.data" >
          <product-card class="product-card" product.bind="product"></product-card>
        </div>
      </div>
    </section>
    <section class="home-page__categories">
      <a class="home-page__categories__category" repeat.for="category of categories.data" route-href="route:filter; params.bind:{category: category.id}">
        ${category.name}
      </a>
    </section>

    <section class="home-page__valuescontainer">
      <h3>International Shopping. Simplified</h3>
      <div class="home-page__values">
        <div class="home-page__values__section">
          <img src="images/order.svg" alt=""/>
          <div class="values__text">
            Place order and get quote
          </div>
        </div>
        <div class="home-page__values__section">
          <img src="images/pay.svg" alt=""/>
          <div class="values__text">
            Approve order and pay
          </div>
        </div>
        <div class="home-page__values__section">
          <img src="images/track.svg" alt=""/>
          <div class="values__text">
            Track shipment
          </div>
        </div>
        <div class="home-page__values__section">
          <img src="images/delivery.svg" alt=""/>
          <div class="values__text">
            Get doorstep delivery
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
