@import '../../style/base';

$categories: (
  columns: 12,
  gutter: 5px,
);

.home-page {
  @include grid-container;

  &__section-header {
    text-align: left;
    font-size: 1.3rem;
  }

  &__hero {
    @include grid-media($desktop) {
      @include grid-shift(-1);
      height: 50vh;
      margin-left: -50px;
      width: calc(100vw - 15px);
    }
    align-items: center;
    background-color: $primary-color;
    color: white;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 3.5rem);
    justify-content: center;
    margin-left: -20px;
    margin-top: -1rem;
    width: 100vw;

    &__title {
      @include grid-media($desktop) {
        font-size: 6em;
      }
      animation: fadein 2s ease 1;
      font-size: 3rem;
      text-align: center;

      &__shipping {
        color: crimson;
      }

      &__simple {
        color: #0E9B74;
      }
    }
    &__subtitle {
      @include grid-media($desktop) {
        font-size: $subheader-font-size;
      }
      text-align: center;
    }

    &__cta {
      @include grid-media($desktop) {
        font-size: $subheader-font-size;
      }
      margin-top: 1rem;
    }

    &__ctabutton {
      margin-top: 1rem;
      a {
        border: 1px solid white;
        &:hover {
          background: white;
          color: $primary-color;
        }
      }
    }

    &__announcement {
      border-bottom: 1px solid white;
      margin-top: 3rem;
      padding: 1rem;
      text-align: center;
    }
  }

  &__brands-mobile {
    @include grid-media($desktop) {
      display: none;
    }
    text-align: center;
    background-color: $primary-color;
    margin-left: -20px;
    width: calc(100% + 55px);
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-top: 1rem;
    a {
      color: white;
      padding: 1rem;
    }
  }

  &__brands {
    display: none;
    @include grid-media($desktop) {
      background-color: $primary-color;
      padding-top: .5rem;
      padding-bottom: .5rem;
      color: white;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 1rem;
      text-align: center;
      align-items: baseline;

      &__item {
        border-bottom: 1px solid white;
        margin: .4rem;

        a {
          color: white;
        }
      }

      &__all {
        padding: .5rem;
        border-radius: .2rem;
        border: 1px solid white;
        a {
          color: white;
        }
      }
    }
  }

  &__valuescontainer {

    @include grid-media($desktop) {
      // @include grid-shift(-1);
      // margin-left: -30px;
      width: 100%;
    }
    border-bottom: 1px solid rgba(0,0,0,0.2);
    margin-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
    h3 {
      font-size: 2rem;
      margin-bottom: 2rem;
    }
  }

  &__values {
    display: flex;
    margin-bottom: 1rem;
    margin-top: 1rem;
    &__section {
      @include grid-media($tablet) {
        align-items: center;
        display: flex;
        font-size: 1rem;
      }
      flex-basis: 0;
      flex-grow: 1;
      font-size: .7rem;
      margin-left: .5rem;

      img {
        height: 5rem;
      }

      .values__text {
        @include grid-media($tablet) {
          margin-left: .5rem;
        }
        display: inline-block;
        word-wrap: break-word;
      }
    }
  }

  &__collections {
    margin-top: 3rem;

    &__selected {
      @include grid-container;

      &__body {

        &__title {
          font-size: $subheader-font-size;
        }

        &__description {
          margin-top: 1rem;
        }

        &__total {
          margin-top: 1rem;
        }
      }

      @include grid-media($desktop) {

        &__image {
          @include grid-column(6);
        }

        &__body {
          @include grid-column(6);
        }
      }
    }

    &__preview {
      cursor: pointer;
      margin-top: 1rem;
      position: relative;
      .slider {
        overflow: hidden;
        white-space: nowrap;
        width: 100%;
      }

      .slide {
        display: inline-block;
        filter: brightness(50%);
        height: 10vh;
        position: relative;
        width: 25%;

        img {
          height: inherit;
          object-fit: cover;

          &:hover {
            border: 1px solid rgba(0,0,0,0.2);
          }
        }

        &:hover {
          filter: brightness(90%);
        }
      }

      .slide--active {
        filter: brightness(100%);
      }


      .prev, .next {
        cursor: pointer;
        display: block;
        margin-top: -25px;
        position: absolute;
        top: 50%;
      }

      .next {
        right: 0;
      }

      .prev {
        left: 0;
      }

      .next svg, .prev svg {
        width: 25px;
      }

    }
  }

  &__categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 3rem;

    &__category {
      padding: 1rem;

      &:hover {
        background: $primary-color;
        border-radius: .2rem;
        color: white;
      }
    }
  }

  &__most-popular {
    @include grid-container;
    margin-top: 3rem;
    text-align: center;

    &__cards {

      &__card {
        @include grid-column(12);
        @include grid-media($tablet) {
          @include grid-column(4);
        }
      }
    }
  }
}

