<template>
  <require from="./home.css"></require>
  <script type="application/ld+json">
{
  "@context": "http://schema.org",
    "@type": "Organization",
    "url": "https://www.novelship.com",
    "logo": "https://www.novelship.com/images/monogram.png"
}
  </script>

  <div class="home">
    <section class="home__hero">
      <hero-carousel gallery.bind="announcements.data"></hero-carousel>
    </section>

    <section class="home__brands">
      <div class="home__brands__item">
        <a class="home__brands__content" repeat.for="brand of brands.data" href.bind="'brands/' + brand.id">
          <img class="home__brands__logo" src.bind="brand.logo">
        </a>
      </div>
    </section>


    <section class="home__collections">
      <h2>Featured Collections</h2>
      <div class="home__collections__selected">
        <a href.bind="'collections/' + selected.collection.id">
          <img class="home__collections__selected__image" src.bind="selected.collection.picture" alt=""/>
        </a>
        <div class="home__collections__selected__body">
          <a href.bind="'collections/' + selected.collection.id" class="home__collections__selected__body__title">
            ${selected.collection.name}
          </a>
          <div class="home__collections__selected__body__creator">
            by ${selected.collection.creator.name}
          </div>
          <div class="home__collections__selected__body__description">
            ${selected.collection.description}
          </div>
        </div>
      </div>
      <div class="home__collections__preview">
        <ul class="slider">
          <li click.delegate="selected.collection = collection" class="slide ${collection.id === selected.collection.id ? 'slide--active': ''}" repeat.for="collection of collections.data">
            <img src.bind="collection.picture" alt=""/>
          </li>
        </ul>
      </div>
    </section>

    <section class="home__most-popular">
      <h2>Most Popular</h2>
      <div class="home__most-popular__cards">
        <div class="home__most-popular__cards__card" repeat.for="product of popular.data" >
          <product-card class="product-card" product.bind="product"></product-card>
        </div>
      </div>
    </section>
  </div>
</template>
