<template>
  <require from="./about.css"></require>
  <section>
    <h1>Who Are We</h1>
    Novelship is a global buy and sell platform for streetwears. We connect global supply with Asian demand.
  </section>
  <section>
    <h1>Our Promise</h1>
    <h1>Mission</h1>
    <p>To become the go-to shopping platform for streetwear fashion.</p>
    <h1>Vision</h1>
    <p>To provide high-quality, up-to-date and authentic streetwear at a reasonable price and shorter delivery turnaround for Southeast Asian consumers.</p>
  </section>
  <section>
    <h1>About Novelship</h1>
    <p>
    Novelship was conceived in February 2017 when our founders, Richard and Chris, were faced with several issues when it comes to obtaining authentic streetwear. They are hard to purchase and are super expensive to buy from Southeast Asian resellers. Not willing to succumb to these obstacles, our founders were determined to look for an easier and cheaper alternative. As a result, they found out that there are groups of resellers based in US and Japan who sell their items 20-50% cheaper as compared to those resellers in Southeast Asia. This information sparked an idea in Richard and Chris to connect the local demands for streetwear goods with the supply from the overseas resellers. By sourcing items from overseas, requesting for official receipts, and shipping via our network, Novelship came up with a unique proposition to it's followers. The people have more designs to choose from, can save money, and secure their items faster.
    </p>
    <p>
    Novelship has since grown into a one-stop shopping platform for highly-coveted streetwear like Supreme, Bape, Mastermind and etc. Novelship also continues to support the local communities of streetwear enthusiasts by keeping up with the trend and providing easy access to a variety of latest streetwear goods from across the globe. With continued patronage from our followers, Novelship hopes to continue to provide high-quality and authentic streetwear at a reasonable price and shorter delivery turnaround.
    </p>
  </section>
  <section>
    <h1>People Behind Novelship</h1>
    <p>
    Richard graduated from NUS in 2015 and dived straight into solving consumer problems in online shopping. He has always been a huge fan of rap music and started following the streetwear brands in 2012, starting with BAPE and Supreme. While he’s not connecting buyers with overseas resellers, Richard is heavily involved in the streetwear community. He is the admin to two online communities of streetwear fashionistas, and looking to start a 3rd one real soon.
    </p>
    <p>
    Chris also graduated from NUS in 2016. He started as a passive admirer of street fashion, for there was no simple way to get these items without losing an arm or leg. Despite being a late bloomer, he caught up fast by building his waredrobe with rare streetwears. Recently he has been into sneakers and have been collecting rare releases to accompany his casual attires.
    </p>
  </section>
</template>
