<template>
  <require from="./custom-order.css"></require>
  <div class="custom-order">
    <form class="custom-order__form" submit.delegate="createOrder()">
      <div>
        <label for="">URL</label>
        <input type="url" change.delegate="getData()" value.bind="request.url & validate" placeholder="Please enter the url of the product you want to buy" required>
      </div>
      <div>
        <label>Shipping From</label>
        <select class="" value.bind="request.source_id & validate">
          <option repeat.for="country of countries" model.bind="country.id">${country.name}</option>
        </select>
      </div>
      <div>
        <label for="">Instructions</label>
        <textarea value.bind="request.instructions & validate" placeholder="Please enter the size, color or version of the product you want"></textarea>
      </div>
      <div>
        <label for="">Quantity</label>
        <input value.bind="request.count | toNumber" placeholder="Please enter how many do you want" type="number" min="1">
      </div>
      <div>
        <label for="">Delivery</label>
        <select value.bind="request.collection_method & validate">
          <option value="courier">Courier (Free)</option>
          <option value="pickup">Pickup</option>
        </select>
      </div>
      <div class="custom-order__form__submit">
        <a click.delegate="calculator()" class="button">Estimate Price</a>
        <button type="submit">Submit</button>
      </div>
    </form>
  </div>
</template>
