@import 'base';

.auth {
  @media screen and (min-width: $medium-screen) {
    max-width: 20rem;
    margin: auto;
    margin-top: 10vh;
  }
  margin-top: 10vh;

  form {
    .submit {
      float: right;
    }

    .error {
      color: $red;
    }

  }

  .rest {
    display: block;
    width: 100%;

    .social {
      margin-top: 1rem;
      text-align: center;
    }

    .prompt {
      margin-top: 1.3rem;
    }
  }
}
