@import '../../style/base';

.signup {

  &__prompt {

    margin-top: 1.3rem;

    .border-up {
      padding: 0.5rem;
      border: 1px solid $primary-color;
      border-radius: $base-border-radius;
    }
  }
}

